<robot name="dlbb_trunk" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- <joint name="base_link_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="base_trunk"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint> -->
	<link name="base_trunk">
		<inertial>
			<origin xyz="-0.00274216 0.00080451 0.13878403" rpy="0 0 0" />
			<mass value="6.10795662" />
			<inertia ixx="0.12205506" ixy="0.0004266" ixz="-0.00175897" iyy="0.12690868" iyz="0.0008672" izz="0.22018054" />
		</inertial>
		<visual>
			<origin xyz="0 0 0.1" rpy="0 0 0" />
			<geometry>
				<!-- <cylinder radius="0.01" length="0.01" /> -->
				<mesh filename="package://dlbb_urdf/meshes/base_link.STL" />
			</geometry>
			<material name="">
				<color rgba="1 1 1 1" />
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0.3" rpy="0 0 0" />
			<geometry>
				<cylinder radius="0.01" length="0.01" />
				<!-- <mesh filename="package://dlbb_urdf/meshes/base_link.STL" /> -->
			</geometry>
		</collision>
	</link>
</robot>